<div
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 600px;
    background-image: url(assets/img/theme/profile-cover.jpg);
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">
          Hello {{ updateUserModel.firstName }}
        </h1>
        <p class="text-white mt-0 mb-5">
          This is your profile page. You can see and update your personal
          informations such as user informations, contact informations.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img
                  src="assets/img/theme/oguzhan.jpg"
                  class="rounded-circle"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between"></div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div
                class="card-profile-stats d-flex justify-content-center mt-md-5"
              >
                <div>
                  <span class="heading">{{ watchedCount }}</span>
                  <span class="description">Watched Video</span>
                </div>
                <div>
                  <span class="heading">{{ likedCount }}</span>
                  <span class="description">Liked Video</span>
                </div>
                <div>
                  <span class="heading">{{ degree }}</span>
                  <span class="description">Degree</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{ updateUserModel.firstName }} {{ updateUserModel.secondName
              }}{{ updateUserModel.lastName }},
              {{
                calculateAge(
                  updateUserModel.birthDateYear,
                  updateUserModel.birthDateMonth,
                  updateUserModel.birthDateDay
                )
              }}
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{ updateUserModel.city }},
              {{ updateUserModel.country }}
            </div>
            <!-- <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager -
              Creative Tim Officer
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Computer
              Science
            </div> -->
            <hr class="my-4" />
            <p>
              {{ updateUserModel.aboutMeText }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
            <div class="col-4 text-right"></div>
          </div>
        </div>
        <div class="card-body">
          <form (ngSubmit)="submit()" [formGroup]="updateForm">
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">İlk Ad*</label>
                    <input
                      style="
                        border-color: rgb(202 209 215) !important;
                        border-top-color: rgb(202 209 215) !important ;
                      "
                      type="text"
                      formControlName="firstName"
                      [ngModel]="updateUserModel.firstName"
                      class="form-control"
                      placeholder="İlk adınızı giriniz"
                      [ngClass]="{
                        'is-invalid': f.firstName.errors
                      }"
                    />
                    <div *ngIf="f.firstName.errors" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required">
                        İlk adınızı lütfen giriniz
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">İkinci Ad</label>
                    <input
                      type="text"
                      formControlName="secondName"
                      [ngModel]="updateUserModel.secondName"
                      class="form-control"
                      placeholder="İkinci adınızı giriniz"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Soyad*</label>
                    <input
                      style="
                        border-color: rgb(202 209 215) !important;
                        border-top-color: rgb(202 209 215) !important ;
                      "
                      type="text"
                      formControlName="lastName"
                      [ngModel]="updateUserModel.lastName"
                      class="form-control"
                      placeholder="Soyadı giriniz"
                      [ngClass]="{
                        'is-invalid': f.lastName.errors
                      }"
                    />
                    <div *ngIf="f.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required">
                        Soyadınızı lütfen giriniz
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Kilo(kg)*</label>
                    <input
                      style="
                        border-color: rgb(202 209 215) !important;
                        border-top-color: rgb(202 209 215) !important ;
                      "
                      type="text"
                      formControlName="weight"
                      [ngModel]="updateUserModel.weight"
                      class="form-control"
                      placeholder="Örnek : 76,5"
                      [ngClass]="{
                        'is-invalid': f.weight.errors
                      }"
                    />
                    <div *ngIf="f.weight.errors" class="invalid-feedback">
                      <div *ngIf="f.weight.errors.required">
                        Kilonuzu lütfen giriniz
                      </div>
                      <div *ngIf="f.weight.errors.pattern">
                        Kilonuzu 56,6 veya 56 formatında giriniz
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Boy(cm)*</label>
                    <input
                      style="
                        border-color: rgb(202 209 215) !important;
                        border-top-color: rgb(202 209 215) !important ;
                      "
                      type="text"
                      maxlength="3"
                      class="form-control"
                      placeholder="Örnek : 186"
                      formControlName="height"
                      [ngModel]="updateUserModel.height"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': f.height.errors
                      }"
                    />
                    <div *ngIf="f.height.errors" class="invalid-feedback">
                      <div *ngIf="f.height.errors.required">
                        Boyunuzu lütfen giriniz
                      </div>
                      <div *ngIf="f.height.errors.pattern">
                        Boyunuzu cm formatında sayıyla giriniz
                      </div>
                      <div *ngIf="f.height.errors.maxlength">
                        En fazla 3 haneli sayı girebilirsiniz
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label">Adres*</label>
                    <input
                      style="
                        border-color: rgb(202 209 215) !important;
                        border-top-color: rgb(202 209 215) !important ;
                      "
                      type="text"
                      formControlName="address"
                      [ngModel]="updateUserModel.address"
                      class="form-control"
                      placeholder="Ev adresinizi giriniz"
                      [ngClass]="{
                        'is-invalid': f.address.errors
                      }"
                    />
                    <div *ngIf="f.address.errors" class="invalid-feedback">
                      <div *ngIf="f.address.errors.required">
                        Adresi lütfen giriniz
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="ilk-kayit-ulke"
                      >Ülke*</label
                    >
                    <input
                      style="
                        border-color: rgb(202 209 215) !important;
                        border-top-color: rgb(202 209 215) !important ;
                      "
                      type="text"
                      formControlName="country"
                      [ngModel]="updateUserModel.country"
                      class="form-control"
                      placeholder="Ülke giriniz"
                      [ngClass]="{
                        'is-invalid': f.country.errors
                      }"
                    />
                    <div *ngIf="f.country.errors" class="invalid-feedback">
                      <div *ngIf="f.country.errors.required">
                        Ülkeyi lütfen giriniz
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="ilk-kayit-sehir"
                      >Şehir*</label
                    >
                    <input
                      style="
                        border-color: rgb(202 209 215) !important;
                        border-top-color: rgb(202 209 215) !important ;
                      "
                      type="text"
                      formControlName="city"
                      [ngModel]="updateUserModel.city"
                      class="form-control"
                      placeholder="Şehri giriniz"
                      [ngClass]="{
                        'is-invalid': f.city.errors
                      }"
                    />
                    <div *ngIf="f.city.errors" class="invalid-feedback">
                      <div *ngIf="f.city.errors.required">
                        Şehri lütfen giriniz
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Posta Kodu*</label>
                    <input
                      style="
                        border-color: rgb(202 209 215) !important;
                        border-top-color: rgb(202 209 215) !important ;
                      "
                      type="text"
                      pattern="\d*"
                      formControlName="postCode"
                      [ngModel]="updateUserModel.postCode"
                      class="form-control"
                      maxlength="5"
                      minlength="5"
                      placeholder="Posta kodunu giriniz 06540"
                      [ngClass]="{
                        'is-invalid': f.postCode.errors
                      }"
                    />
                    <div *ngIf="f.postCode.errors" class="invalid-feedback">
                      <div *ngIf="f.postCode.errors.required">
                        Posta kodunu lütfen giriniz
                      </div>
                      <div
                        *ngIf="
                          f.postCode.errors.maxlength ||
                          f.postCode.errors.minlength
                        "
                      >
                        Posta kodu 5 haneli olmalıdır
                      </div>
                      <div *ngIf="f.postCode.errors.pattern">
                        Posta kodu sadece sayılardan oluşmalıdır
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Telefon*</label>
                    <input
                      style="
                        border-color: rgb(202 209 215) !important;
                        border-top-color: rgb(202 209 215) !important ;
                      "
                      type="text"
                      formControlName="telephone"
                      [ngModel]="updateUserModel.telephone"
                      class="form-control"
                      maxlength="11"
                      placeholder="Telefon giriniz 0555 555 55 55"
                      [ngClass]="{
                        'is-invalid': f.telephone.errors
                      }"
                    />
                    <div *ngIf="f.telephone.errors" class="invalid-feedback">
                      <div *ngIf="f.telephone.errors.required">
                        Telefonu lütfen giriniz
                      </div>
                      <div *ngIf="f.telephone.errors.pattern">
                        Telefonu şu formatta giriniz : 05555555555
                      </div>
                      <div *ngIf="f.telephone.errors.maxlength">
                        Telefon numarası 11 haneyi aşamaz
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label class="form-control-label">Hakkımda</label>
                <textarea
                  style="
                    border-color: rgb(202 209 215) !important;
                    border-top-color: rgb(202 209 215) !important ;
                    resize: none !important;
                  "
                  rows="4"
                  formControlName="aboutMeText"
                  [ngModel]="updateUserModel.aboutMeText"
                  class="form-control"
                  placeholder="Bize kendinizden bahsedin"
                ></textarea>
              </div>
            </div>
            <div id="first-form-buttons">
              <button
                class="btn btn-icon btn-3 btn-primary float-right"
                type="submit"
              >
                <span class="btn-inner--icon"
                  ><i class="ni ni-bag-17"></i
                ></span>
                <span class="btn-inner--text">Gönder</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
