<app-blog-text id="0-5yasnormal" titleClass="title" titleName="0-5 YAŞ NORMAL GELİŞİM" text=""></app-blog-text>
<app-blog-text id="6-18yasnormal" titleClass="title" titleName="6-18 YAŞ NORMAL GELİŞİM" text=""></app-blog-text>
<app-blog-text id="0-3yassp" titleClass="title" titleName="0-3 YAŞ ARALIĞINDA SEREBRAL PALSİ" text=""></app-blog-text>
<app-blog-text id="4-6yassp" titleClass="title" titleName="4-6 YAŞ ARALIĞINDA SEREBRAL PALSİ" text=""></app-blog-text>
<app-blog-text id="7-10yassp" titleClass="title" titleName="7-10 YAŞ ARALIĞINDA SEREBRAL PALSİ" text=""></app-blog-text>
<app-blog-text id="11-14yassp" titleClass="title" titleName="11-14 YAŞ ARALIĞINDA SEREBRAL PALSİ" text=""></app-blog-text>
<app-blog-text id="15-18yassp" titleClass="title" titleName="15-18 YAŞ ARALIĞINDA SEREBRAL PALSİ" text=""></app-blog-text>


