
.title {
    color:#f54a4a !important;
    font-weight: bold;
    text-align: center;
}
.sub-title{
    color:rgba(35, 226, 226, 0.712) !important;
    font-weight: bold;
    font-size: large;
}
.sub-sub-title{
    color:rgb(157, 179, 177) !important;
    font-weight: bold;
    font-size: medium;
}