backend/.vs/backend/v16/.suo
backend/backend/obj/project.assets.json
backend/backend/obj/LifeGuideProject.API.csproj.nuget.dgspec.json
backend/backend/obj/LifeGuideProject.API.csproj.nuget.g.props
backend/backend/obj/project.nuget.cache
backend/backend/obj/Debug/net5.0/LifeGuideProject.API.assets.cache
backend/backend/obj/Debug/net5.0/LifeGuideProject.API.csproj.CoreCompileInputs.cache
backend/backend/obj/Debug/net5.0/LifeGuideProject.API.dll
backend/backend/obj/Debug/net5.0/LifeGuideProject.API.GeneratedMSBuildEditorConfig.editorconfig
backend/backend/obj/Debug/net5.0/ref/LifeGuideProject.API.dll
backend/backend/obj/Debug/net5.0/LifeGuideProject.API.pdb
backend/backend/obj/project.assets.json
backend/backend/obj/LifeGuideProject.API.csproj.nuget.dgspec.json
backend/backend/bin/Debug/net5.0/LifeGuideProject.API.dll
backend/backend/bin/Debug/net5.0/LifeGuideProject.API.pdb
backend/backend/bin/Debug/net5.0/ref/LifeGuideProject.API.dll
backend/backend/LifeGuideProject.API.csproj
backend/backend/bin/Debug/net5.0/ref/LifeGuideProject.API.dll
backend/backend/bin/Debug/net5.0/LifeGuideProject.API.pdb
