
<div class="header pb-5 pt-5 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-12 mt--8">
        <h1 style="text-align: center;" class="text-white">Merhaba Oğuzhan</h1>
        <p style="text-align: center;" class="text-white mt-0 mb-5">Gelişimini takip edebilmemiz için öncelikle 3 adımdan oluşan aşağıdaki formu eksiksiz ve doğru bir şekilde doldurman gerekiyor</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--15">
  <div class="row">
    <div style="margin-bottom: 120px;" class="col-lg-12 col-md-12">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-12">
              <h3 style="text-align: center;" class="mb-0">Gelişim Kayıt Formu</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form (ngSubmit)="submit()">
            <h6 *ngIf="step == 1" class="heading-small text-muted mb-4">Kullanıcı Bilgileri (Adım 1)</h6>
            <div *ngIf="step == 1" class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="ilk-kayit-ilk-ad">İlk Ad*</label>
                    <input type="text" id="ilk-kayit-ilk-ad" class="form-control form-control-alternative" placeholder="İlk adınızı giriniz">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="ilk-kayit-ikinci-ad">İkinci Ad</label>
                    <input type="text" id="ilk-kayit-ikinci-ad" class="form-control form-control-alternative" placeholder="İkinci adınızı giriniz">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="ilk-kayit-soyad">Soyad*</label>
                    <input type="text" id="ilk-kayit-soyad" class="form-control form-control-alternative" placeholder="Soyadı giriniz">
                  </div>
                </div>
                <div class="col-lg-6">
                  <label class="form-control-label" for="ilk-kayit-dogum-tarihi">Doğum Tarihi*</label>
                  <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                        </div>
                        <input id="ilk-kayit-dogum-tarihi" class="form-control datepicker" placeholder="Select date" type="text">
                    </div>
                </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <label class="form-control-label">Cinsiyet*</label>
                  <div class="custom-control custom-control-alternative custom-radio mb-3" *ngFor="let cinsiyet of cinsiyetler;let index=index">
                    <input name="cinsiyet" class="custom-control-input" id="{{index}}" type="radio" [checked]="cinsiyet.isSelected" (change)="onCinsiyetChange(cinsiyet.cinsiyet)">
                    <label class="custom-control-label" for="{{index}}">{{cinsiyet.cinsiyet}}</label>
                  </div>
                </div>
              </div>
            </div>
            <!-- Address -->
            <h6 *ngIf="step == 2" class="heading-small text-muted mb-4">İletişim Bilgileri (Adım 2)</h6>
            <div *ngIf="step == 2" class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="New York">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Country</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country" value="United States">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-postal-code">Postal code</label>
                    <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code">
                  </div>
                </div>
              </div>
            </div>
            <!-- Description -->
            <h6 *ngIf="step == 3" class="heading-small text-muted mb-4">Hakkımda (Adım 3)</h6>
            <div *ngIf="step == 3" class="pl-lg-4">
              <div class="form-group">
                <label>About Me</label>
                <textarea name="hakkında" rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
              </div>
            </div>
            <!-- Buttons -->
            <div id="first-form-buttons">
              <button *ngIf="step != 1" class="btn btn-icon btn-3 btn-primary float-left" type="button" (click)="geri()">
                <span class="btn-inner--icon"><i class="ni ni-bold-left"></i></span>
                <span class="btn-inner--text">Geri</span>
              </button>
              <button *ngIf="step != 3" class="btn btn-icon btn-3 btn-primary float-right" type="submit">
                <span class="btn-inner--text">İleri</span>
                <span class="btn-inner--icon"><i class="ni ni-bold-right"></i></span>
              </button>
              <button *ngIf="step == 3" class="btn btn-icon btn-3 btn-primary float-right" type="submit">
                <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
                <span class="btn-inner--text">Gönder</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
