<div class="header bg-gradient-danger pt-7">
    <div class="container">
      <div class="header-body text-center mb-4">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">User List</h1>
          <p class="text-lead text-light">See the users. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container pb-5">
    <div class="row justify-content-center">
        <div class="card">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">FullName</th>
                    <th scope="col">Email</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Role</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of userList">
                    <td>{{user.fullName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.userName}}</td>
                    <td>{{user.role}}</td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>


  