<header class="bg-gradient-danger">
    <div class="blogcontainer">
        <input type="checkbox" name="" id="check">
        <div class="logo-container">
            <h3 class="logo" style="color: rgb(50 50 93);">Life Guide<span>Blog</span></h3>
        </div>
        <div class="nav-btn">
            <div class="nav-links">
                <ul>
                    <li class="nav-link" style="--i: .6s">
                        <a [routerLink]="['/blog-serebral-palsi']">Serebral Palsi<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a (click)="goToLink('nedir')">Nedir?</a>
                                </li>
                                <li class="dropdown-link">
                                    <a (click)="goToLink('neden')">Neden Oluşur?</a>
                                </li>
                                <li class="dropdown-link">
                                    <a (click)="goToLink('primer-problemler')">Primer Problemler</a>
                                </li>
                                <li class="dropdown-link">
                                    <a (click)="goToLink('klinik-tipleri')">Klinik Tipleri<i class="fas fa-caret-down"></i></a>
                                    <div class="dropdown second">
                                        <ul>
                                            <li class="dropdown-link">
                                                <a (click)="goToLink('spastik')">Spastik<i class="fas fa-caret-down"></i></a>
                                                <div class="dropdown second">
                                                    <ul>
                                                        <li class="dropdown-link">
                                                            <a (click)="goToLink('hemiparetik')">Hemiparetik</a>
                                                        </li>
                                                        <li class="dropdown-link">
                                                            <a (click)="goToLink('diparetik')">Diparetik</a>
                                                        </li>
                                                        <li class="dropdown-link">
                                                            <a (click)="goToLink('kuadriparetik')">Quadriparetik</a>
                                                        </li>
                                                        <div class="arrow"></div>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="dropdown-link">
                                                <a (click)="goToLink('diskinetik')">Diskinetik<i class="fas fa-caret-down"></i></a>
                                                <div class="dropdown second">
                                                    <ul>
                                                        <li class="dropdown-link">
                                                            <a (click)="goToLink('korea-ateotid')">Korea-Atetoid</a>
                                                        </li>
                                                        <li class="dropdown-link">
                                                            <a (click)="goToLink('distonik')">Distonik</a>
                                                        </li>
                                                        <div class="arrow"></div>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="dropdown-link">
                                                <a (click)="goToLink('ataksik')">Ataksik</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a (click)="goToLink('hipotonik')">Hipotonik</a>
                                            </li>
                                            <div class="arrow"></div>
                                        </ul>
                                    </div>
                                </li>
                                <div class="arrow"></div>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link" style="--i: .85s">
                        <a [routerLink]="['/blog-according-to-age']">Yaşlara Göre SP<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a (click)="goToLink('spastik')">0-5 Yaş Normal Gelişim</a>
                                </li>
                                <li class="dropdown-link">
                                    <a (click)="goToLink('spastik')">6-18 Yaş Normal Gelişim</a>
                                </li>
                                <li class="dropdown-link">
                                    <a (click)="goToLink('spastik')">0-3 Yaş Serebral Palsi</a>
                                </li>
                                <li class="dropdown-link">
                                    <a (click)="goToLink('spastik')">4-6 Yaş Serebral Palsi</a>
                                </li>
                                <li class="dropdown-link">
                                    <a (click)="goToLink('spastik')">7-10 Yaş Serebral Palsi</a>
                                </li>
                                <li class="dropdown-link">
                                    <a (click)="goToLink('spastik')">11-14 Yaş Serebral Palsi</a>
                                </li>
                                <li class="dropdown-link">
                                    <a (click)="goToLink('spastik')">15-18 Yaş Serebral Palsi</a>
                                </li>
                                <div class="arrow"></div>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link" style="--i: 1.1s">
                        <a [routerLink]="['/blog-ortezler']">Ortezler<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a (click)="goToLink('spastik')">Amaç</a>
                                </li>
                                <li class="dropdown-link">
                                    <a (click)="goToLink('spastik')">Alt Ekstremite Ortezleri<i class="fas fa-caret-down"></i></a>
                                    <div class="dropdown second">
                                        <ul>
                                            <li class="dropdown-link">
                                                <a (click)="goToLink('spastik')">Ayak Ortezleri</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a (click)="goToLink('spastik')">Ayak - Ayak Bileği Ortezleri</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a (click)="goToLink('spastik')">Diz Ortezleri</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a (click)="goToLink('spastik')">Diz - Ayak - Ayak Bileği Ortezleri</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a (click)="goToLink('spastik')">Kalça Ortezleri</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a (click)="goToLink('spastik')">Kalça - Diz - Ayak - Ayak Bileği Ortezleri</a>
                                            </li>
                                            <div class="arrow"></div>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-link">
                                    <a (click)="goToLink('spastik')">Adaptif Araçlar<i class="fas fa-caret-down"></i></a>
                                    <div class="dropdown second">
                                        <ul>
                                            <li class="dropdown-link">
                                                <a (click)="goToLink('spastik')">Ayakta Durma Yardımcıları</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a (click)="goToLink('spastik')">Yürüteçler</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a (click)="goToLink('spastik')">Koltuk Değneği ve Bastonlar</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a (click)="goToLink('spastik')">Tekerlekli Sandalyeler</a>
                                            </li>
                                            <div class="arrow"></div>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-link">
                                    <a (click)="goToLink('spastik')">Üst Ekstremite Ortezleri</a>
                                </li>
                                <div class="arrow"></div>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link" style="--i: 1.35s">
                        <a [routerLink]="['/blog-aile-egitimi']">Aile Eğitimi</a>
                    </li>
                </ul>
            </div>
            <div class="log-sign" style="--i: 1.8s">
                <a href="#" class="btn transparent">Dashboard</a>
            </div>
        </div>
        <div class="hamburger-menu-container">
            <div class="hamburger-menu">
                <div></div>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>


