<header class="bg-gradient-danger">
    <div class="blogcontainer">
        <input type="checkbox" name="" id="check">
        <div class="logo-container">
            <h3 class="logo" style="color: rgb(50 50 93);">Life Guide<span>Blog</span></h3>
        </div>
        <div class="nav-btn">
            <div class="nav-links">
                <ul>
                    <li class="nav-link" style="--i: .6s">
                        <a>Serebral Palsi<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="#">Nedir?</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Neden Oluşur?</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Primer Problemler</a>
                                </li>
                                <li class="dropdown-link">
                                    <a>Klinik Tipleri<i class="fas fa-caret-down"></i></a>
                                    <div class="dropdown second">
                                        <ul>
                                            <li class="dropdown-link">
                                                <a>Spastik<i class="fas fa-caret-down"></i></a>
                                                <div class="dropdown second">
                                                    <ul>
                                                        <li class="dropdown-link">
                                                            <a href="#">Hemiparetik</a>
                                                        </li>
                                                        <li class="dropdown-link">
                                                            <a href="#">Diparetik</a>
                                                        </li>
                                                        <li class="dropdown-link">
                                                            <a href="#">Quadriparetik</a>
                                                        </li>
                                                        <div class="arrow"></div>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="dropdown-link">
                                                <a>Diskinetik<i class="fas fa-caret-down"></i></a>
                                                <div class="dropdown second">
                                                    <ul>
                                                        <li class="dropdown-link">
                                                            <a href="#">Korea-Atetoid</a>
                                                        </li>
                                                        <li class="dropdown-link">
                                                            <a href="#">Distonik</a>
                                                        </li>
                                                        <div class="arrow"></div>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Atoksik</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Hipotonik</a>
                                            </li>
                                            <div class="arrow"></div>
                                        </ul>
                                    </div>
                                </li>
                                <div class="arrow"></div>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link" style="--i: .85s">
                        <a>Yaşlara Göre SP<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="#">0-5 Yaş Normal Gelişim</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">6-18 Yaş Normal Gelişim</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">0-3 Yaş Serebral Palsi</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">4-6 Yaş Serebral Palsi</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">7-10 Yaş Serebral Palsi</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">11-14 Yaş Serebral Palsi</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">15-18 Yaş Serebral Palsi</a>
                                </li>
                                <div class="arrow"></div>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link" style="--i: 1.1s">
                        <a>Ortezler<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="#">Amaç</a>
                                </li>
                                <li class="dropdown-link">
                                    <a>Alt Ekstremite Ortezleri<i class="fas fa-caret-down"></i></a>
                                    <div class="dropdown second">
                                        <ul>
                                            <li class="dropdown-link">
                                                <a href="#">Ayak Ortezleri</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Ayak - Ayak Bileği Ortezleri</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Diz Ortezleri</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Diz - Ayak - Ayak Bileği Ortezleri</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Kalça Ortezleri</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Kalça - Diz - Ayak - Ayak Bileği Ortezleri</a>
                                            </li>
                                            <div class="arrow"></div>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-link">
                                    <a>Adaptif Araçlar<i class="fas fa-caret-down"></i></a>
                                    <div class="dropdown second">
                                        <ul>
                                            <li class="dropdown-link">
                                                <a href="#">Ayakta Durma Yardımcıları</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Yürüteçler</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Koltuk Değneği ve Bastonlar</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Tekerlekli Sandalyeler</a>
                                            </li>
                                            <div class="arrow"></div>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Üst Ekstremite Ortezleri</a>
                                </li>
                                <div class="arrow"></div>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link" style="--i: 1.35s">
                        <a href="#">Aile Eğitimi</a>
                    </li>
                </ul>
            </div>

            <div class="log-sign" style="--i: 1.8s">
                <a href="#" class="btn transparent">Dashboard</a>
            </div>
        </div>

        <div class="hamburger-menu-container">
            <div class="hamburger-menu">
                <div></div>
            </div>
        </div>
    </div>
</header>


            saaaaaaaaaaaaaaaaa<br/>saaaaaaaaaaaaaaaaa<br/>saaaaaaaaaaaaaaaaa<br/>
            saaaaaaaaaaaaaaaaa<br/>
            saaaaaaaaaaaaaaaaa<br/>
           
            saaaaaaaaaaaaaaaaa<br/>
            saaaaaaaaaaaaaaaaa<br/>
            saaaaaaaaaaaaaaaaa<br/>
            saaaaaaaaaaaaaaaaa<br/>
            saaaaaaaaaaaaaaaaa<br/>
            saaaaaaaaaaaaaaaaa<br/>
            saaaaaaaaaaaaaaaaa<br/>
            saaaaaaaaaaaaaaaaa<br/>
            saaaaaaaaaaaaaaaaa<br/>