<footer class="footer pb-5">
  <div style="flex-wrap: inherit !important;" class="row align-items-center justify-content-center col-xl-12">
    <div class="col-xl-6 col-md-6">
      <div class="copyright text-center text-muted">
        &copy; {{ test | date: "yyyy" }} <a class="font-weight-bold ml-1" target="_blank">Oğuzhan Ak</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center">
        <li class="nav-item">
          <a href="https://github.com/oguzhan-ak" class="nav-link" target="_blank">
            <span class="btn-inner--icon"><img style="height: 20px;" src="../assets/img/icons/common/github.svg"></span>
            Github
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/oguzhan-ak" class="nav-link" target="_blank">
            <span class="btn-inner--icon"><img style="height: 20px;" src="../assets/img/icons/common/github.svg"></span>
            Github
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/oguzhan-ak" class="nav-link" target="_blank">
            <span class="btn-inner--icon"><img style="height: 20px;" src="../assets/img/icons/common/github.svg"></span>
            Github
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/oguzhan-ak" class="nav-link" target="_blank">
            <span class="btn-inner--icon"><img style="height: 20px;" src="../assets/img/icons/common/github.svg"></span>
            Github
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>